* {
    line-height: 150%;
}
:root {
    --main-background: rgb(232, 255, 255);
    --main-text: black;
    --title: rgb(48, 1, 79);
    --main-heading: rgb(48, 1, 79);
    --main-heading-text: white;
    --footer-background: aqua, rgb(163, 254, 254);
    --card-container-size: 45%;
    --card-container-size-small: 100%;
    --card-title: darkblue;
    --card-skills: gray;
    --card-border: darkblue;
    --card-margin: 2%;
    --card-width: 45%;
    --first-card-width: 100%;

} 

h1,
h2,
h3{
    text-align: center;
}

h2 {
    color: title;
    font-size: 30px;
}



.main-heading {
    display: block;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: var(--main-heading);
    color: var(--main-heading-text);
}

.main-heading h1 {
    font-size: 40px;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 2%;
}

nav ul li a {
    color: var(--main-heading-text);
    text-decoration: none;
}

.profile,
#about-me,
#projects {
    background-color: var(--main-background);
    padding-bottom: 30px;
    padding-left: 2%;
    padding-right: 2%;
} 

.profile {
    padding: 10px;
}

figure img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first {
    width: var(--card-container-size);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.rest {
    display: flex;
    flex-wrap: wrap;
    width: var(--card-container-size);
    margin: auto;
    justify-content: center;
    align-items: center;
}

.card {
    width: var(--card-width);
    flex: 1 0 auto;
    border: 5px solid var(--card-border);
    margin: var(--card-margin);
}

#first-card {
    width: var(--first-card-width);
    margin: var(--card-margin);
}

.title {
    color: var(--card-title);
}

.skills {
    text-align: center;
    color: var(--card-skills);
}

#contact {
    display: block;
    justify-content: center;
    background-color: var(--main-heading);
    color: var(--main-heading-text);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    height: 100px;
}

footer ul li {
    display: inline;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

footer ul li a{
    color: var(--main-heading-text);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .first {
        width: var(--card-container-size-small);
    }
    .rest {
        width: var(--card-container-size-small);
    }

    #first-card {
        width: calc(var(--card-width)*2 + var(--card-margin)*3);
    }
}